body{
  background:url("fond.jpg") fixed;
  background-size: cover;
  margin:0
}

h1{
  text-align: center;
  font-size:300%;
}

p.bouton{
  text-align:center;
}


#articleAccueil{
  background-color:white;
  width:78%;
  margin-left:10%;
  margin-right:10%;
  padding:1%;
  word-wrap:break-word;
}

#articleListe{
  background-color:white;
  width:78%;
  margin-left:10%;
  margin-right:10%;
  padding:1%;
  word-wrap:break-word;
}



.articleListe2{
  background-color:#87CEEB;
  width:92%;
  margin-left:3%;
  margin-right:3%;
  padding:1%;
}



.boutonArticle{
  margin-left:90%;
}


#haut{
  background-color:#87CEEB;
  position:fixed;
  width:100%;
  margin:0;
}

#vide{
  height:200px;
}

#connexion{
  text-align:center;
  background-color:white;
  width:48%;
  margin-left: auto;
  margin-right: auto;
  padding:1%;
}

